<ion-header>
</ion-header>

<ion-content padding>
  <h3>Geolocalização teste</h3>
  <!--Puxando Latitude-->
  <p>Latitudade {{lat}}</p>
  <!--Puxando Longitude-->
  <p>Longitude {{lon}}</p>

</ion-content>